# App & DB
MONGODB_URI=mongodb+srv://<user>:<pass>@cluster0.mongodb.net/latcintl?retryWrites=true&w=majority
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Pi (public client id for client-side SDK)
NEXT_PUBLIC_PI_CLIENT_ID=your_pi_client_id_here
PI_ENV=testnet

# Pi merchant/server keys (do NOT expose these publicly)
PI_MERCHANT_ID=your_merchant_id
PI_MERCHANT_SECRET=your_merchant_secret
PI_WEBHOOK_SECRET=your_webhook_secret

# Admin
ADMIN_TOKEN=supersecretadmintoken

# Optional: use a custom Pi Payments base URL (if provided by Pi)
PI_PAYMENTS_BASE=https://api.minepi.com/v2/merchant
